<app-header></app-header>
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <h1>
                <span>KIPPER CONSULTORIA</span>
                <P>A consultoria que você prescisa para o seu software</P>
            </h1>
        </div>
        <img ngSrc="./assets/principal.png" width="669" height="536">

    </section>
    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
              95% das<br>
              empresas
            </h2>
        </div>
        <p>não sabe como lidar com problemas de <b>escalibilidade</b> e grande volume de requisições</p>
    </section>
</main>
